extends ../../layout.jade
block contenido
    div(class="col-md-6 no-float center-block big-top-space")
        h1 Subir nueva imagen
        form(action="/app/imagenes", method="POST")
            div(class="form-group")
                label(for="title") Título
                input(class="form-control", type="text", name="title", placeholder="Titulo", id="title")
            div
                label(for="file") imagen
                input(class="form-control" type="file", name="password",id="file")
            div(class="row top-space")
                div(class="col-xs-12 col-md-6")
                    input(type="submit" value="Guardar" class="btn btn-info")
