extends ./layout.jade
block contenido
    div(class="col-md-8 no-float center-block text-center big-top-space")
        h1 Bienvenidos a Fotofacilito
        a(href="/login" class="rigth-space") Iniciar sesión
        a(href="/singup" class="rigth-space") Registrate
